extends layout

block content
  .container-fluid 
    .row 
      .col-sm-12
        h1= title
        p AWS S3 #{title}
        div(class='alert' id='alert' style='display:none') Error Message
      .col-sm-6
        .form-inline(class='mb-2')
          input(type='file' class='form-control' id="file1" onchange="checkForFile(event)")
          input(type='file' class='form-control' id="file2" onchange="checkForFile(event)")
          input(type='file' class='form-control' id="file3" onchange="checkForFile(event)")
          button(class='btn btn-primary' onclick="uploadToS3()") Upload Files
        table(class='table')
          thead 
            tr 
              th Name 
              th Size 
              th Last Modified 
              th x
          tbody(id='tbody')
      .col-sm-6 
        h3 Selected File
        iframe#frame

          
        