extends layout

block content
  .container-fluid 
    .row 
      .col-sm-12
        h1= title
        p AWS S3 App #{title}        
      .col-sm-6
        .form-group
          input(type='file' class='form-control' id="file1" onchange="checkForFile(event)")
        .form-group
          input(type='file' class='form-control' id="file2" onchange="checkForFile(event)")
        .form-group
          input(type='file' class='form-control' id="file3" onchange="checkForFile(event)")
        #button-div.form-group
          button(class='btn btn-primary form-control' onclick="uploadToS3()") Upload Files
        #loading-div.text-center
          img(src='/img/loading.gif')
      .col-sm-6        
        table(class='table')
          thead 
            tr 
              th Name 
              th Display
              th Size 
              th Last Modified 
              th x
          tbody(id='tbody')
        p Click on file name or display button to see file content in frame below
      .col-sm-12
        h3 Selected File
        iframe#frame

  script.
    $(document).ready(function() {
      loadFiles();
    });