doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/css/bootstrap.4-3-1.min.css')
    link(rel='stylesheet' href='/css/font-awesome.4-7-0.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery-3.2.1.min.js')
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='/js/main.js')
    
  body
    .container-fluid
      .row 
        .col-sm-12         
          nav.navbar.navbar-expand-lg.bg-dark.container-fluid
            a.navbar-brand(href='/') S3 APP
            #navbarColor01.collapse.navbar-collapse
              ul.navbar-nav.me-auto
                li.nav-item
                  a.nav-link.active(href='/') Home                   
                li.nav-item
                  a.nav-link(href='/file-operations') File Operations
                li.nav-item
                  a.nav-link(href='/file-operations/large-files') Large Files                
        .col-sm-12 
          div(class='alert' id='alert' style='display:none') Error Message
    block content
